<img
  src="./assets/logos/World_YWCA.svg"
  alt="World YWCA"
  width="200"
  style="margin-right: 20px"
/>
<img src="./assets/logos/European_YWCA.png" alt="European YWCA" width="200" />

<p>
  Da der Cevi ein Mitglied von YWCA (Young Women's Christian Association) ist,
  bist auch du eines. Die Schweiz ist etwas besonderes da es nicht je eine
  Organisation für YWCA und YMCA gibt, sondern nur eine Orgnisation die als
  Joint-Movement beides abdeckt. In Europa sind nur 6 andere Länder ebenfalls so
  aufgebaut.
</p>
<p>
  Um die untenstehenden Fragen zu beantworten musst du dich etwas einlesen:
  <a href="https://www.worldywca.org/about-us/history/" target="_blank"
    >https://www.worldywca.org/about-us/history/</a
  >
  und
  <a href="https://www.europeanywca.org/about/" target="_blank"
    >https://www.europeanywca.org/about/</a
  >
</p>

<app-quiz [task]="this.task"></app-quiz>
