<h1>YWCA</h1>

<img src="./assets/logos/World_YWCA.svg" width="200" style="margin-right: 20px;" />
<img src="./assets/logos/European_YWCA.png" width="200" />

<p>Der Cevi ist Mitglied vom YWCA. Also auch du. In der Schweiz sind wir ein Joint-Movement(YWCA und YMCA) zusammen.
  Das ist aussergewöhnlich in Europa sind nur 6 weiter Länder so aufgebaut.</p>
<p>Für die Schweiz wichtige YWCA ist das World YWCA und European YWCA. Hier findet ihr interessante Infos:
<a href="https://www.worldywca.org/about-us/history/" target="_blank">https://www.worldywca.org/about-us/history/</a> und
<a href="https://www.europeanywca.org/about/" target="_blank">https://www.europeanywca.org/about/</a></p>

<app-quiz [task]="this.task"></app-quiz>
