<h1>Cevi Schweiz</h1>

<img src="./assets/logos/Cevi_Schweiz.svg" width="200" />

<p>
  Der Cevi Schweiz ist die nationale Organisation innerhalb des internationalen
  Jugendverbandes YMCA/YWCA. In der Schweiz wird der Verband anders als in den
  meisten anderen Ländern als Joint Movement geführt (d. h. gleichzeitige
  Mitgliedschaft sowohl beim YWCA wie auch beim YMCA).
</p>

<p>
  Untenstehend siehst du den Aufbau. Die Farben zeigen Dir zu welchen
  Organisationen die aufgeführten Begriffe gehören: YWCA = blau, YMCA = orange,
  Cevi Schweiz = grün.
</p>

<p>
  Zu den 7 Regionen und 4 Arbeitsgebieten, erfährst du an den anderen Posten
  mehr.
</p>

<img
  src="assets/cevi_organisationen.jpg"
  style="max-width: 100%; height: auto"
/>

<p>
  Die Webseite des Cevi Schweiz findest du unter folgenden Link:
  <a href="https://www.cevi.ch/home/" target="_blank"
    >https://www.cevi.ch/home/</a
  >. Für die Beantwortung der Fragen musst du Dich durchklicken.
</p>

<app-quiz [task]="this.task"></app-quiz>

<p style="margin-top: 1em">
  Auf der rechten Seite der Cevi Schweiz Homepage findest du vier Embleme. Eines
  davon ist der Cevi-Blog, dort findest du jeweils die News des nationalen
  Verbandes (inkl. Corona-Updates). Wenn du per Mail über Neuigkeiten informiert
  werden möchtest, kannst du unter Cevi intern den Cevi-Newsletter abonnieren.
</p>
