<h1>Cevi Schweiz</h1>

<img src="./assets/logos/Cevi_Schweiz.svg" width="200" />

<p>Der Cevi Schweiz ist die nationale Organisation innerhalb des internationalen Jugendverbandes YMCA/YWCA. In der Schweiz wird der
  Verband anders als in den meisten anderen Ländern als Joint Nation geführt (d. h. Zusammenlegung des Verbanders für Frauen und Männer).
  Zu den 7 Regionen und 4 Arbeitsgebieten, erfährst du an den anderen Posten mehr. </p>

<img src="assets/cevi_organisationen.jpg" />

<p>Die Webseite des Cevi Schweiz findest du unter folgenden Link: <a href="https://www.cevi.ch/home/" target="_blank">https://www.cevi.ch/home/</a>. Klicke dich durch folgende Seiten.</p>

<app-quiz [task]="this.task"></app-quiz>

<p style="margin-top: 1em;">Auf der rechten Seite findest du vier Embleme. Eines davon ist der Cevi-Blog, darunter findest du jeweils die News des nationalen
  Verbandes (inkl. Corona-Updates). Wenn du per Mail über Neuigkeiten informiert werden möchtest, kannst du unter Cevi intern den
  Cevi-Newsletter abonnieren.</p>
