<h1>Cevi Alpin</h1>

<img src="./assets/logos/Cevi_Alpin.svg" width="200" />

<p>Du hast bereits eine Einstiegswanderung geplant und durchgeführt. Darf es auch etwas mehr sein?</p>

<p>Als Mitglied des CEVI Schweiz organisieren wir während des ganzen Jahres Ski-, Snowboard-, Berg-, Höhlen- und Trekkingtouren. Nebst Wochenendtouren bieten wir eine Vielzahl von Lagern an. Gemeinsam wollen wir die Kameradschaft pflegen, uns alpintechnisch weiterbilden und die grandiose Schöpfung unseres Herrn kennenlernen. Dabei soll die Begegnung mit Gott, miteinander und mit der Bergwelt im Zentrum stehen. Wir wollen uns von Gott herausfordern lassen, um dadurch von Ihm beschenkt zu werden.</p>

<p>Schau dich doch ein wenig auf unserer Webseite <a href="https://cevi-alpin.ch/" target="_blank">cevi-alpin.ch</a> herum und beantworte dann die untenstehenden Fragen.</p>

<app-quiz [task]="this.task"></app-quiz>
