<h1>Cevi in der Region, Schweiz und International</h1>

<p>Hier lernst du nationale und internationale Umfeld von Cevi kennen. Wir zeigen Dir was innerhalb und ausserhalb der Schweiz alles zum Cevi gehört oder damit verbunden ist.</p>

<ul>
  <li>Im Menü sind 10 Aufgaben aufgeführt</li>
  <li>Die Aufgaben sind anfangs gesperrt (Schloss im Menü) müssen mit einem Code freigeschaltet werden, den du von einem Leiter vor-Ort bekommst</li>
  <li>Du kannst die Aufgaben in einer beliebigen Reihenfolge lösen</li>
  <li>Pro Aufgabe hast du 5 Minuten Zeit</li>
  <li>Hast du eine Aufgabe gelöst wird diese im Menü mit einem Häckchen markiert</li>
</ul>

<p>Viel Spass</p>
