<img src="./assets/logos/Horyzon.png" style="max-width: 100%; height: auto;" alt="Stiftung Horyzon, die Schweizer Entwicklungsorganisation für Jugendliche" />

<p><strong>Horyzon engagiert sich für benachteiligte Jugendliche in Entwicklungs- und Krisenregionen</strong></p>

<p>Die Entwicklungszusammenarbeit der Stiftung Horyzon setzt auf die Stärkung der Zivilgesellschaft und trägt dazu bei, dass sich junge Menschen
  unabhängig von ethnischer, religiöser und politischer Zugehörigkeit, Geschlecht oder sozialem Status eine würdige Existenz aufbauen können.
  Die begünstigten Jugendlichen werden befähigt, Ausbildungen zu besuchen, Arbeit zu finden und sich aktiv für die Entwicklung der
  Zivilgesellschaft einzusetzen. Eine Verbesserung der Situation der Jugendlichen ist entscheidend für eine Reduktion der Armut. </p>

<p>Mehr Informationen zu Horyzon und Antworten auf die folgenden Fragen findest du auf der Homepage von
  Horyzon: <a href="https://www.horyzon.ch" target="_blank">www.horyzon.ch</a></p>

<app-quiz [task]="this.task"></app-quiz>
