<img src="./assets/logos/World_YMCA.png" alt="World YMCA" width="200" style="margin-right: 1em;" />
<img src="./assets/logos/YMCA_Europe.png" alt="YMCA Europe" width="200" />

<p>Der Cevi gehört (unter anderem) zum YMCA (Young Men's Christian Association). Dieser existiert auf verschiedenen Ebenen. Dies wird in der untenstehenden Grafik veranschaulicht:</p>

<img src="./assets/ymca_hierarchie.png" alt="World YMCA" width="200" />

<p>Wie du siehts sind wir ein kleiner Teil einer grossen Bewegung. Hier möchten wir uns aber auf die obersten zwei Ebenen, den World YMCA und den European YMCA fokussieren.</p>

<p>Hier kannst du dich zum YMCA World einlesen: <a href="https://www.ymca.int/about-us/" target="_blank">https://www.ymca.int/about-us/</a>.</p>

<p>Auf der YMCA Europe Webseite findest du beispielsweise die <a href="https://www.ymcaeurope.com/member-movements" target="_blank">Liste aller Mitgliederländer</a> oder die Liste der <a href="https://www.ymcaeurope.com/programme-groups" target="_blank">Programmgruppen</a>.</p>

<app-quiz [task]="this.task"></app-quiz>
