<h1>Cevi Vielfalt</h1>

Die Vielfalt im YMCA ist beeindruckend. Gerne zeigen wir Dir hier einige
Beispiele:

<ul>
  <li>
    Bildung:
    <a
      href="https://www.ymcatriangle.org/programs/community/y-learning"
      target="_blank"
      >Y Learning</a
    >
    unterstützt in Amerika Studenten mit einem tiefen Einkommen beim Lösen der
    Hausaufgaben und durch das Anbieten eines "sicheren" Platzes zum Lernen.
  </li>
  <li>
    Sport: Sowohl Basketball wie auch Volleyball wurden von YMCA Studenten
    entwickelt.
  </li>
  <li>
    Gesundheit: das
    <a
      href="https://www.ymca.org/what-we-do/healthy-living/fitness/diabetes-prevention"
      target="_blank"
      >YMCA Diabetes Prevention Program</a
    >
    versucht Menschen mit Diabetes zu helfen.
  </li>
  <li>
    Freizeit: In Kanada gibt es diverse permanente Campingplätze, wo im Sommer
    ein reichhaltiges Angebot zur Verfügung steht.
  </li>
  <li>
    Gesellschaft: In England werden
    <a
      href="https://www.ymca.org.uk/about/what-we-do/accommodation"
      target="_blank"
      >Unterkünfte</a
    >
    für Notfälle, Flüchtlinge und Obdachlose zur Verfügung gestellt oder auch
    als normale Hostels.
  </li>
</ul>

<app-quiz [task]="this.task"></app-quiz>
