<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">Erklärung</a>
      <a mat-list-item *ngIf="isLocal()" routerLink="/tasks/cheat">Cheat</a>
      <a mat-list-item *ngIf="isLocal()" routerLink="/version">Version</a>
    </mat-nav-list>
    <mat-toolbar>Aufgaben</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let task of mandatoryTasks; let i = index"
        mat-list-item
        [routerLink]="task.link"
      >
        <mat-icon *ngIf="task.locked" aria-hidden="false" aria-label="gesperrt"
          >lock</mat-icon
        >
        <mat-icon *ngIf="task.solved" aria-hidden="false" aria-label="gelöst"
          >done</mat-icon
        >
        {{ i + 1 }}) {{ task.title }}</a
      >
    </mat-nav-list>
    <mat-toolbar *ngIf="optionalTasks.length > 0">Optional</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let task of optionalTasks; let i = index"
        mat-list-item
        [routerLink]="task.link"
      >
        <mat-icon *ngIf="task.locked" aria-hidden="false" aria-label="gesperrt"
          >lock</mat-icon
        >
        <mat-icon *ngIf="task.solved" aria-hidden="false" aria-label="gelöst"
          >done</mat-icon
        >
        {{ i + 1 }}) {{ task.title }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cevi Schweiz und International</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
