<img src="./assets/logos/Cevi_Militaer_Service.svg" alt="Cevi Militär" style="max-width: 100%; height: auto;" width="400" />

<img src="./assets/cevi_mil_header.png" style="max-width: 100%; height: auto;" />

<h2>Wie gut kennst du den Cevi Militär Service? </h2>

<p style="margin-top: 1em;">Abgekürzt nennt er sich CEVIMIL und ist eine unabhängige Stiftung. Falls du nicht auf Anhieb die
  korrekte Antwort kennst, kannst du unsere Homepage <a href="https://cevimil.ch/" target="_blank">cevimil.ch</a> nutzen. Viel Spass! </p>

  <p>
  Übrigens, wenn ihr die Buchstaben und Zahlen eurer richtigen Lösungen zusammenfügt, ergibt sich daraus einen
  Lösungscode. Versendet diesen Code über die Chat-Funktion unserer Homepage. - Pro Frage gibt es
  nur eine richtige Antwort.
  </p>

<app-quiz [task]="this.task"></app-quiz>

<p style="margin-top: 1em;">Sende uns deinen Lösungscode <strong>umgehend</strong> über unseren Online Chat zu!</p>

<p><strong>Falls du einmal Probleme während deiner Dienstpflicht haben solltest, sind wir für dich und deine
Freunde da!!</strong></p>
