<h1>AG International</h1>

<p>
  Du findest uns auf
  <a href="https://www.instagram.com/ag_international_/" target="_blank"
    >Instagram</a
  >
  (wenn du schon mal da bist darfst du uns auch gerne direkt liken ;D).
</p>

<p>
  Einen kurzen Steckbrief findest du in der
  <a href="https://cevi-agsoluzg.ch/gremien/" target="_blank">Gremienliste</a>.
</p>

<p>
  Im
  <a href="https://www.cevi.ch/blog/" target="_blank">Blog der Cevi Schweiz</a>
  werden auch regelmässig internationale Anlässe ausgeschrieben.
</p>

<app-quiz [task]="this.task"></app-quiz>

<p style="margin-top: 1em">
  Hinweis wenn du etwas nicht weisst darfst du uns gerne unter 079 504 81 66
  anrufen.
</p>
