<h1>Regionen</h1>

<p>Dem Cevi Schweiz sind inklusive uns sieben Regionen angeschlossen. Neben einigen Gemeinsamkeiten hat jede Region ihre Eigenheiten. Hier ein Überblick.</p>
<p>Auftrag: Lies alle Regionen kurz durch und beantworte je nach Zeit eine bis zwei der Vertiefungsfragen.</p>

<strong>Cevi Region Bern</strong>
<ul>
  <li>
    Dafür ist die Region bekannt: Jungschargruppen, Cevi und Jugend und Sport (J+S) Kurse,  Konfestival (grosse regionale Konflager) als
    zentrales Projekt in der Zusammenarbeit mit der reformierten Landeskirche.
  </li>
  <li>
    Vielfalt: Talentförderkurse (Taku) im Bereich Musik, Fotografie, Wasser, Glauben; Outdoortech mit Angeboten für Pioniertechnik-Freaks ,
    Cevi-Häuser mit Kindertagesstätte und WG’s in Bern.
  </li>
  <li>
    Nähere Informationen: <a href="https://www.ceviregionbern.ch/" target="_blank">https://www.ceviregionbern.ch/</a>;
    <a href="https://www.outdoortech.ch/" target="_blank">https://www.outdoortech.ch/</a>
  </li>
</ul>


<strong>Cevi Region Basel</strong>
<ul>
  <li>
    Dafür ist die Region bekannt: Seine starke Angebots-Vielfalt (siehe unten); Konfestival (mittlerweile drei Wochen); das Angebot
    Hattrick  – und dass du überall Gottes Wirken entdecken kannst.</li>
  <li>
    Vielfalt: Surflager, Posaunenchor, Jungschar, Ten Sing, Café Emma, Mütter- und Spielgruppen, Ehetage, Sport, Wandergruppen, Cevi und
    J+S Kurse, Kinder- und Jugendtreff, Gottesdienste </li>
  <li>
    Nähere Informationen: <a href="https://cevibasel.ch/" target="_blank">https://cevibasel.ch/</a> </li>
</ul>

<strong>Cevi Region Zürich</strong>
<ul>
  <li>
    Dafür ist die Region bekannt: Jungschar, Fröschli, Ten Sing, Jungschar und Jugend und Sport Kurse und ein Konflager mit Cevi-Charakter.
    Die Region Zürich führt alle klassischen Cevi Angebote in durchorganisierter und kompetenter Stärke.</li>
  <li>
    Vielfalt: Kafi, Laden mit Cevi- und Pfadimaterial, Lernhilfe, WG’s, Zusammenarbeit mit einem Projekt in Armenien, Gloggespiel, Ehetraining,
    Ferienhäuser, Weihnachtsmarkt, usw. die Cevi der Stadt Zürich bringt die Vielfalt in die Zürcher Region.
  </li>
    <li>Nähere Informationen: <a href="https://www.ceviregionzuerich.ch/" target="_blank">https://www.ceviregionzuerich.ch/</a>;
      <a href="https://www.cevizuerich.ch/" target="_blank">https://www.cevizuerich.ch/</a>;
      <a href="https://wiki.cevi.ch/" target="_blank">https://wiki.cevi.ch/</a> </li>
</ul>

<strong>Cevi Ostschweiz</strong>
<ul>
  <li>
    Dafür ist die Region bekannt: Jungschar, Fröschli, Ten Sing, Jugendgruppe, Cevi und J+S Kurse, regionale Events und Konfestivals – und an
    allen regionalen Events gibt es Inputs, in welchen Gott im Fokus steht.
  </li>
  <li>
    Vielfalt: Die Vielfalt findet sich in der Cevi Ostschweiz in einigen nicht so klassischen Mitgliederorganisationen. So gibt es ein Cevi Kino, Unihockey-/ Basketballvereine,
  </li>
  <li>Nähere Informationen: <a href="https://www.ceviostschweiz.ch/" target="_blank">https://www.ceviostschweiz.ch/</a></li>
</ul>

<strong>Cevi Region Winterthur-Schaffhausen</strong>
<ul>
  <li>
    Dafür ist die Region bekannt: Fokus auf Jungscharen mit allen klassischen Elementen wie Pioniertechnik, Geschichten erleben, Kochen
    über dem Feuer und ein ausgeprägt starkes Jungschar und J+S Kursangebot. Besonders prägend ist zudem die herausragende Stärke in
    der digitalen Welt.
  </li>
  <li>
    Handliches: Mit dem Tatkundefilter erstellt die Region ein handliches Nachschlagewerk für Jungscharkompetenzen. Hier findest du heraus,
    wer was in welche Alter können sollte und wo du die Informationen dazu findest. Ein super Ideenpool für Programme.
    Mit dem Logo-Generator könnt ihr euch Logos und Claims im Corporate-Design des Cevi Schweiz erstellen.
  </li>
  <li>Nähere Informationen: <a href="https://www.cevi.ws/" target="_blank">https://www.cevi.ws/</a></li>
</ul>

<strong>Unions Chrétienne (Romandie)</strong>
<ul>
  <li>
    Dafür ist die Region bekannt: Im welschen gibt es gleich wie bei uns die Les Cadets=Jungschararbeit, die Kurse besuchen die
    Leitenden in Bilingue-Kursen der Deutschschweiz.
  </li>
  <li>
    Vielfalt: UCG besitzen ein Haus für 18-35-jährige Lehrlinge und Studenten in Genf und zahlreiche Kindertagesstätten; UCF fördert das
    Vertrauen und die Verantwortungsübernahme von Frauen in der Gesellschaft.
  </li>
  <li>Nähere Informationen: <a href="www.ucg.ch" target="_blank">www.ucg.ch</a>, 
    <a href="www.cadet.ch" target="_blank">www.cadet.ch</a>, <a href="www.ucfvaud.ch" target="_blank">www.ucfvaud.ch</a></li>
</ul>

<strong>Vertiefungsaufgaben</strong>
<p>Beantworte je nach verfügbarer Zeit 1 bis 2 der nachfolgenden Fragen.</p>

<app-quiz [task]="this.task"></app-quiz>
