<div *ngIf="task.quiz.questions.length > 0">
  <hr />

  <mat-card
    class="card"
    *ngFor="let question of task.quiz.questions; let i = index"
  >
    <mat-card-header>
      <mat-card-title
        >Frage {{ i + 1 }}: {{ question.question }}</mat-card-title
      >
    </mat-card-header>
    <mat-card-content style="margin-left: 16px;">
    <div *ngFor="let answer of question.answers">
      <mat-checkbox
        *ngIf="answer.type === 'checkbox'"
        class="wrap"
        [(ngModel)]="answer.checked"
        [disabled]="task.solved"
      >
        {{ answer.text }}
      </mat-checkbox>
      <p
        *ngIf="answer.type === 'textbox'"
        style="display: flex; align-items: center"
      >
        <mat-icon
          *ngIf="task.solved"
          aria-hidden="false"
          aria-label="gelöst"
          style="margin-right: 0.1em"
          >done</mat-icon
        >
        <input
          [(ngModel)]="answer.text"
          autocorrect="off"
          spellcheck="false"
          type="text"
          matInput
          [disabled]="task.solved"
        />
      </p>
    </div>
      <p *ngIf="question.hint !== ''">Tipp: {{ question.hint }}</p>
    </mat-card-content>
  </mat-card>

  <button *ngIf="!task.solved" (click)="check()" mat-raised-button color="primary">
    Quiz auswerten
  </button>
  <p *ngIf="task.solved">Du hast diese Aufgaben bereits gelöst.</p>
</div>
