<h1>ESG, Unify</h1>

<img src="./assets/logos/ESG.jpg" width="200" />
<img src="./assets/logos/unify.png" style="margin-left: 1em" width="340" />

<p>
  Die ESG (European YMCA Scouting & Jungschar group) ist die Programm Gruppe von
  YMCA Europa, welche sich auf die Jungscharaktivitäten fokusiert. Sie
  organisiert verschiedene wiederkehrende Aktivitäten wie den ESG Day, das ESG
  Leadership Training and Seminar (LTS) und das ESG Jamboree.
</p>

<p>
  Hier findest du weitere Informationen dazu:
  <a href="https://www.ymcaeurope.com/esg" target="_blank"
    >https://www.ymcaeurope.com/esg</a
  >
</p>

<p>
  Unify ist die Plattform des YMCA, wo über den Bezug von YMCA zum Glauben
  reflektiert wird. Hier findest du weitere Informationen dazu:
  <a href="https://www.ymca-unify.eu/" target="_blank"
    >https://www.ymca-unify.eu/</a
  >
</p>

<p>
  Die Fachgruppe International der Cevi Schweiz ist die Schnittstelle zur
  ESG. Häufig findest du auf Ihrem
  <a href="https://www.instagram.com/ceviinternational/">Instagram Account</a>
  Informationen zu den aktuellen Angeboten.
</p>

<app-quiz [task]="this.task"></app-quiz>
