<h1>ESG, Unify</h1>

<img src="./assets/logos/ESG.jpg" width="200" />

<p>Die ESG (European YMCA Scouting & Jungschar group) ist die Programm Gruppe von YMCA Europa, welche sich auf die Jungscharaktivitäten fokusiert. Sie organisiert verschiedene wiederkehrende Aktivitäten wie den ESG Day, das ESG Leadership Training and Seminar (LTS) und das ESG Jamboree.</p>

<p>Hier findest du weitere Informationen dazu: <a href="https://www.ymcaeurope.com/esg" target="_blank">https://www.ymcaeurope.com/esg</a></p>

<p>Unify ist die Plattform des YMCA, wo über den Bezug von YMCA zum Glauben reflektiert wird. Hier findest du weitere Informationen dazu: <a href="https://www.ymca-unify.eu/" target="_blank">https://www.ymca-unify.eu/</a></p>

<app-quiz [task]="this.task"></app-quiz>
